body { 
	background-image: url("../media/images/background.jpg");
	Font-family: Garamond, Helvetica;
	color: #004c4c;	
	font-size: 16px;
}

img {
	width:200px;
	height:200px;
	border-style: ridge;
}
	
.header {
	background-color: #b2d8d8;
	padding: 20px;
	margin:30px 180px 40px;
	border-radius: 25px;
}

.main h1, h2, h3 {
  	text-transform: uppercase;
  	text-align: center;
  	text-shadow: 8px 8px 12px darkgrey;
  	word-spacing: 20px;
}

.header ul, .header li {
	list-style: none;
	font-size: 25px;
	float: right;
}

.title {
	padding: 50px 0px 25px;
	text-shadow: 8px 8px 12px darkgrey;
	font-size: 4rem;
}

.main { 
	display: flex;
	margin: 60px;
	font-size: 23px;
}

.main .right p {
	text-align: center;
	padding: 100px 30px;
}

.left {
	background-color: #b2d8d8;
	margin-left: auto;
  	padding: 20px;
	width: 900px;
	border-radius: 30px;
}

.right {
	background-color: #b2d8d8;
	margin-left: 20px;
	margin-right: auto;
	border-radius: 30px;
}

h1, h2{
	text-align: center;
	font-weight: bold;
} 


p {
	padding: 10px 100px;
	font-size: 23px;
}

a {
	text-decoration: none;
	color: #004c4c;
	padding: 10px 10px;
	font-size: 25px;
}

ul li a:hover {
	background-color: #006666;
	color: #b2d8d8;	
	border-style: ridge;
	border-radius: 20px;
} 

div p a:hover {
	background-color: #006666;
	color: #b2d8d8;	
	border-style: ridge;
	border-radius: 20px;

}

a p:hover {
	background-color: #006666;
	color: #b2d8d8;	
	border-style: ridge;
	border-radius: 20px;

}
