body { 
	background-image: url("../media/images/background.jpg");
	Font-family: Garamond, Helvetica;
	color: #004c4c;	
	font-size: 16px;
}

.header{
	background-color: #b2d8d8;
	font-size: 30px;
	padding: 10px;
	margin:30px 100px 20px;
	border-radius: 25px;
}

.header ul, .header li {
	list-style: none;
	float: right;
	padding-top: 10px;
}

hr {
	width: 40em;	
}

.header ul li a:hover {
	background-color: #006666;
	color: #b2d8d8;	
	border-style: ridge;
	border-radius: 20px;
} 

h1, h2{
	text-align: center;
	font-weight: bold;
} 


p {
	padding: 10px 100px;
	font-size: 23px;
}

.header a {
	text-decoration: none;
	color: #004c4c;
	padding: 10px 10px;
	font-size: 25px;
}

.header p a:hover {
	background-color: #006666;
	color: #b2d8d8;	
	border-style: ridge;
	border-radius: 20px;

}

h3 {
  	text-transform: uppercase;
  	text-align: center;
  	text-shadow: 2px 2px 3px darkgrey;
  	word-spacing: 20px;
}

.shows {
	background-color: #b2d8d8;
	width: 1400px;
	font-size: 30px;
	padding: 10px;
	margin: 30px 100px 5px;
	border-radius: 25px;
}

.shows a {
	text-decoration: none;
	color: #004c4c;
	padding: 90px;
	font-size: 25px;
}

.shows a:hover{
	color: #000000;
}

.context {
	background-color: #b2d8d8;
	font-size: 30px;
	padding: 10px;
	margin:30px 100px 20px;
	border-radius: 25px;
}

.context p{
	text-indent: 40px;
}

video {
	height: 270px;
	width: 480px;
	padding: 10px;
}
